<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.comic.mapper.CollectMapper">
    <insert id="insert" parameterType="com.comic.entity.Collect" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_collect (user_id, comic_id)
        VALUES (#{userId}, #{comicId})
    </insert>

    <delete id="deleteByUserAndComic">
        DELETE FROM t_collect
        WHERE user_id = #{userId} AND comic_id = #{comicId}
    </delete>

    <select id="checkCollect" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM t_collect
        WHERE user_id = #{userId} AND comic_id = #{comicId}
    </select>

    <select id="selectByUserId" parameterType="Long" resultType="com.comic.entity.Collect">
        SELECT * FROM t_collect
        WHERE user_id = #{userId} ORDER BY create_time DESC
    </select>
</mapper>